body {
  --Tcolor: rgb(14, 114, 230);
  --Tbackground: rgb(235, 229, 229);
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
